*{
	margin: 0;
	padding: 0;
	list-style: none;	
}
a{
	text-decoration: none;
}
.head{
	width: 100%;
	height: 32px;
	border-bottom: 1px solid #cccccc;
}
.head1{
	width: 560px;
	height: 32px;
	float: right;
}
.box1{
	width: 144px;
	height: 32px;
	font-size: 12px;
	color: #8c8c8c;
	line-height: 32px;
	float: left;
}
.box2{
	width: 80px;
	height: 32px;
	float:left;
	font-size: 12px;
	line-height: 32px;
	margin-left: 20px;
}
.denglu{
	color: #838383;
	margin-right: 7px;
}
.box2 span{
	color: #838383;
}
.zhuce{
	color: #838383;
	margin-left: 7px;
}
.box3{
	width: 50px;
	height: 32px;
	float: left;
	margin-left: 14px;
}
.box3 a{
	display: block;
	 font-size: 12px;
	line-height: 32px;
}
.box4{
	width: 78px;
	height: 32px;
	float: left;
	margin-left: 15px;
}
.laba{
	width: 17px;
	height: 18px;
	margin-top: 7px;
	float: left;
}
.box4 a{
	display: block;
    font-size: 12px;
    float: right;
    margin-top: 7px;
    color: #838383;
}
.box5{
	width: 42px;
	height: 32px;
	float: left;
	margin-left: 14px;
}
.weixin{
	display: block;
	width: 18px;
	height: 18px;
	background: skyblue;
	float: left;
	margin-top: 7px;
}
.weibo{
	display: block;
	width: 18px;
	height: 18px;
	float: right;
	margin-top: 7px;
}
.search{
	width: 1200px;
	height: 166px;
	margin: 0 auto;
	overflow: hidden;
}
.search1{
	width: 1200px;
	height: 29px;
	margin-top: 29px;
}
.search2{
	width: 1200px;
	height: 26px;
	margin-top: 7px;
}
.search3{
	width:1200px ;
	height: 46px;
	margin-top: 10px;
}
.search1-right{
	width: 438px;
	height: 29px;
	float: right; 
}
.search1-right1{
	width: 259px;
	height: 27px;
	float: left;
}
input{
	width:200px; 
	height:25px;
	border: 1px solid #cecece;
	border-right: none; 
	float: left;
	font-size: 12px;
}
button{
	width: 58px;
	height: 27px;
	background: #ca2029;
	font-size: 12px;
	color: #fff;
	float: right;
	border: 1px solid #cecece;
	border-left: none;	
}
.shopping{
     width: 110px;
     height: 27px;
     float: right;
     overflow: hidden;
}
.shopping a{
	display: block;
	height: 27px;
	background: url('../img/5.png') no-repeat -153px 0;
}
.shopping span{
	margin-left: 30px;
 	 font-size: 12px;
 	 line-height: 26px;
 	 color: #fff;
 	 margin-top: 0px;
}
.shopping a:hover{
 	background: url('../img/5.png') no-repeat -153px -29px;

 }
 .search2-right{
 	width: 389px;
	height:26px;
	margin-left: 785px;
 }
 .remen{
	width:  60px;
	height: 26px;
	font-size: 12px;
	color: #c3c3c3;
	line-height: 26px; 
	float: left;
	margin-right: 14px;
}
.renmen1{
	width: 315px;
	height: 26px;
	float: left;
}
.renmen1 a{
    font-size: 12px;
    float: left;
    margin-right: 10px;
    line-height: 26px;
    color: #c3c3c3;
}
.search3-left{
	width: 184px;
	height: 47px;
	background: url('../img/5.png') no-repeat 0 -59px;
	float: left;
}
nav{
	width:989px; 
	height: 17px;
	float: left;
	margin-top: 29px;

}
nav a{
	display: block;
	font-size:16px;
	width: 98px;
	height: 18px;
	float: left;
	border-right: 1px solid #858585;
	text-align: center;
	line-height: 18px;
	color: #71737f;
}
nav a:last-child{
border-right: none;
}
.banner{
	width: 1200px;
	height: 535px;
	margin: 0 auto;
}
.swiper-container {
    width: 1200px;
    height: 535px;
} 
.chongzhi{
	width: 1200px;
	height:134px; 
	margin: 0 auto;
	margin-top: 47px;
}
.miaosha{
	width:1200px; 
	height:64px;
	margin: 0 auto;
	background: url('../img/7.jpg') no-repeat;
}
.miaosha-right{
	display: block;
	width: 421px;
	height: 64px;
	float: right;
}
.miaosha-right-text{
	display: block;
	width: 217px;
	height: 64px;
	font-size: 17px;
	color: #fdfbfe;
	line-height: 64px;
	float: left;

}
.time{
	display: block;
	width: 181px;
	height:64px;
	float: left;
}
.time span{	
	font-size: 14px;
	color: #6c3137;
	line-height: 64px;
	margin-right: 11px;
	margin-left: 29px;
}
.time span.last-child{
	margin-right: 0;
}
.time span.first-child{
	margin-left: 0;
}
.list{
	width:1200px; 
	height:342px; 
	margin: 10px auto; 
}
.list li{
	width:232px ;
	height:232px;
	float: left;
	margin-right: 10px;
}
.list li:last-child{
	margin-right: 0;
}
.list li a h1{
	width:232px;
	height:42px;
	margin-top: 11px;
	font-size: 16px;
	line-height: 21px;	
	font-weight: normal;
	color: #9c9394;
}
.list li a h2{
	/* display: block; */
	font-size: 12px;
	color: #e0e0e0;
	font-weight: normal;
	float: left;
	text-decoration: line-through;
}
.price{
	display: block;
    width:100%; 
	height:25px;
	margin-top: 27px;
}
.price h3{
	font-size: 15px;
	color: #af3959;
	float: left;
}
.price h4{
	font-size: 15px;
	color: #434c53;
	float: right;
}
.price h4 span{
	font-size:19px; 
	color:#bc2433; 
}
.T-shirt{
	width: 1200px;
	height: 543px;
	margin: 0 auto;
}
.top{
	width: 1200px;
	height: 118px;
}
.center{
	width: 1200px;
	height: 425px;
}
.center a img{
	float: left;
	margin-right: 33px;
	
}
.spring{
	width:1200px;
	height: 1026px;
	margin: 0 auto;
	margin-top: 35px;
}
.spring-top{
	width: 1200px;
	height: 97px;
}
.spring-center{
	width:1200px;
	height: 929px;
}
.spring-center a img{
	float:left;
}
.fuwu{
	width: 1198px;
	height: 282px;
	border: 1px solid #e0e0e0;
	margin: 0 auto;
}
.top-box{
	width: 1112px;
	height: 138px;
	/* background: red; */
	margin:33px auto 0;
}
.top-box1{
	width: 370px;
	height: 138px;
	/* background: pink; */
	float: left;
	border-right: 1px solid #e0e0e0;

}
.top-box .top-box1:last-child{
	border-right: none;
}
.top-box1-1{
	width: 35px;
	height: 40px;
	/* background: red; */
	margin: 15px auto 32px;
}
.top-box1-2{
	width: 156px;
	height: 32px;
	background: #b91c25;
	margin: 32px auto 16px;
	font-size: 12px;
	color: #fffcec;
	text-align: center;
	line-height: 32px;
}
.top-box1-3{
	width:38px; 
	height:38px;
	background: #b91c25;
	margin: 8px auto 0;
	border-radius: 50%;
	font-size: 21px;
	text-align: center;
	line-height: 38px;
	color: #ebfffa;
}
.wenzi1{
	width: 79px;
    height: 26px;
    /* background: red; */
    margin: 10px auto 0;
    font-size: 12px;
	color: #7f7f7f;
	text-align: center;
	line-height: 26px;
}
.wenzi2{
	width: 123px;
	height: 25px;
	/* background: red; */
	margin: 5px auto 0;
	font-size: 12px;
	color: #7f7f7f;
	text-align: center;
	line-height: 25px;
}
.tu{
	width:98px; 
	height: 95px;
	background: red;
	margin: 0 auto;
}
.zai{
	width: 129px;
	height: 17px;
	/* background: red; */
	margin: 19px auto 0;
	font-size: 12px;
	color: #807573;
	text-align: center;
	line-height: 17px;
}
.zai span{
	color: red;
}

.bottom-box{
	width: 1118px;
	height: 57px;
	/* background: red; */
	margin: 22px auto 0;
	overflow: hidden;
}
.bottom-box ul{
	width: 100%;
	height: 29px;
	background: #f8f8f8;
	margin-top:16px ;
}
.bottom-box li{
	font-size: 12px;
	color: #59525a;
	float: left;
	border-right: 1px solid #dcdcdc;
	line-height: 29px;
	padding-left: 64px;
	padding-right: 64px;
}
.bottom-box ul li:last-child{
	border-right: none;
}
.dibu{
	width:100%; 
	height:158px;
	border: 1px solid #393939;
	margin-top: 25px; 
} 
.text1{
font-size: 12px;
color: #363739;
text-align: center;
line-height: 25px;

}  
.text2{
	font-size: 12px;
	color: #363739;
	text-align: center;
	line-height: 24px;
}  
.tupian{
	width: 752px;
	height: 43px;
	/* background: blue; */
	margin-left: 330px;
    margin-top: 39px;
    overflow: hidden;
}
.tu1{
	display: block;
	width: 112px;
	height: 42px;
	background: url('../img/12.png') no-repeat  0 -581px;
	margin-top: 3px;
	float: left;
	margin-right: 21px;
}
.tu2{
	display: block;
	width:134px; 
	height:43px;
	background: url('../img/12.png') no-repeat 0 -629px;
	float: left;
	margin-right: 22px;
}
.tu3{
	display: block;
	width:93px; 
	height:38px;
	background: url('../img/12.png') no-repeat 0 -675px;
	float: left;
	margin-top: 4px;
	margin-right: 26px;
}
.tu4{
	display: block;
	width:97px; 
	height:38px;
	background: url('../img/12.png') no-repeat -97px -675px;
	float: left;
	margin-top: 4px;
	margin-right: 24px;
}
.tu5{
	display: block;
	width:42px; 
	height:42px;
	background: url('../img/12.png') no-repeat -202px -675px;
	float: left;
	margin-top: 2px;
	margin-right: 20px;
}

.guding{
	width: 73px;
	height: 205px;
	border: 1px solid #7f1833;
	border-bottom: none;
	position: fixed;
	bottom: 100px;
	right: 10px;
	z-index: 999;

}
.guding1{
	display: block;
	width: 73px;
	height: 76px;
	background: url('../img/13.png') no-repeat -1px -1px; 
}
.guding2{
	display: block;
	width: 73px;
	height: 72px;
	background: url('../img/13.png') no-repeat -1px -78px; 
}
.guding3{
	display: block;
	width: 73px;
	height: 57px;
	background: url('../img/13.png') no-repeat -1px -149px; 
}